body{
    background: rgb(231, 224, 224) url("img/web1.jpg");
}


.game_names {

    color: azure;
}

.backframe {

    height: 300px;
    width: 300px;
}

.posters{

    height: 300px;
    width: 300px;
}


