{% extends 'games/base.html' %}

{% block body %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    
    <body>
            {% for list in object_list %}
        <!--
        <li><a href="/games/{{list.id}}/">{{ list.name }}</a></li>
         -->
        
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{list.game_img}}">
                        <div class="names" style="display:inline-block;">
                            <h3>{{list.name}}</h3>
                            <p><a href="/games/{{list.id}}/" class = "btn btn-primary" role = "button">
                                Details
                               </a>
                            </p>
                        </div>
                    </div>
                 </div>
            
        {% endfor %}
        </body>
</html>
{% endblock %}           




<!-- this is old code for render code
       <ul>
            {%  for list in all_games %}
             <li><a href="/games/{{list.id}}/">{{ list.name }}</a></li>

            {% endfor%}
        </ul>
        
    </body>-->
<!----------------------------------------------------------------------->
   

<!-- for generic views this code
    
    -------------------------->
    


    